.vc_carousel-slideline-inner {
    display: none;
}

.carousel {
    height: 500px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 200px;


    .carousel-background {
        position: absolute;
        top: 0;
        width: 200px;
    }

    .carousel-list {
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin: 47px 10px;
        width: 1920px;

        .carousel-item {
            float:  left;
            list-style: none;
            text-align: center;
            width: 185px;

            img {
                width: 100%;
            } 
        }
    }
}
