.vc_carousel-slideline-inner {
    display: none;
}

.carousel {
    height: 688px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    width: 340px;


    .carousel-background {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .carousel-list {
        list-style: none;
        overflow: hidden;
        padding: 0;
        margin: 80px 20px;
        width: 1920px;

        .carousel-item {
            float:  left;
            list-style: none;
            text-align: center;
            width: 300px;

            img {
                width: 100%;
            } 
        }
    }
}
